<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">

<!--<head>-->
<head th:replace="fragment/header :: head"></head>

<body>
<nav th:replace="fragment/nav :: navbar"></nav>

<div th:replace="fragment/nav :: subnav"></div>


<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default qna-list">
            <ul class="list" th:each="article : ${articleList}" >
                <li>
                    <div class="wrap">
                        <div class="main">
                            <strong class="subject">
                                <a th:if="${#session != null}" th:href="@{/qna/show/{articleId}(articleId=${article.id})}"
                                   th:text="${article.writer}"></a>
                                <a th:if="${#session == null}" href="/users/login"
                                   th:text="${article.writer}"></a>
                            </strong>
                            <div class="auth-info">
                                <i class="icon-add-comment"></i>
                                <span class="time" th:text="${article.timestamp}"></span>
                                    <a th:href="@{/users/{userId}(userId=${article.writer})}" th:text="${article.writer}">
                                    </a>
                            </div>
                            <div class="reply" title="댓글">
                                <i class="icon-reply"></i>
                                <span class="point" th:text="${article.id}"></span>
                            </div>
                        </div>
                    </div>
                </li>
                </td>
            </ul>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <ul class="pagination center-block" style="display:inline-block;">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="col-md-3 qna-write">
                    <a href="qna/form.html" class="btn btn-primary pull-right" role="button">질문하기</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- script references -->
<div th:replace="fragment/footer :: footer"></div>

</body>
</html>