{{>layout/header}}
<link href="../css/user/list.css" rel="stylesheet">
</head>
<body>
<div class="background">
    {{>layout/nav}}

    <div class="description">
        <div class="desc-container">
            <p class="desc-small">회원 정보</p>
            <p class="desc-big">회원 정보를 조회할 수 없습니다 🥹</p>
        </div>
    </div>
</div>
</body>

<!-- script references -->
<script src="../../static/js/jquery-2.2.0.min.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/scripts.js"></script>
	</body>
</html>
