{{>layout/header}}
{{>layout/nav}}

<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>Profiles</h4></div>
            <div class="panel-body">
                <div class="well well-sm">
                    <div class="media">
                        <p>
                            해당하는 유저가 없습니다.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
