<!DOCTYPE html>
<html lang="kr"
      xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="summery/header :: header"></head>
<body>
<nav th:replace="summery/nav :: nav"></nav>
<nav th:replace="summery/subNav :: subNav"></nav>

<div class="container" id="main">
    <div class="col-md-12 col-sm-12 col-lg-12">
        <div class="panel panel-default">
            <header class="qna-header">
                <h2 th:text="${articleDto.getTitle()}" class="qna-title"></h2>
            </header>
            <div class="content-main">
                <article class="article">
                    <div class="article-header">
                        <div class="article-header-thumb">
                            <img src="https://graph.facebook.com/v2.3/100000059371774/picture"
                                 class="article-author-thumb" alt="">
                        </div>
                        <div class="article-header-text">
                            <a th:href="@{../users/{userId}(userId=${articleDto.getUserId()})}"
                               th:text="${articleDto.getUserId()}" class="article-author-name"></a>
                            <a th:href="@{{articleId}(articleId=${articleDto.getArticleId()})}"
                               th:text="${articleDto.getTime()}"
                               class="article-header-time" title="퍼머링크">
                                <i class="icon-link"></i>
                            </a>
                        </div>
                    </div>
                    <div class="article-doc">
                        <p th:text="${articleDto.getContents()}"></p>
                    </div>
                    <div class="article-util">
                        <ul class="article-util-list">
                            <li>
                                <a class="link-modify-article"
                                   th:href="@{{articleId}/edit(articleId=${articleDto.getArticleId()})}">수정</a>
                            </li>
                            <li>
                                <form class="form-delete" action="/article/delete" method="POST">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input class="article-id" type="hidden" name="articleId" th:value="${articleDto.getArticleId()}">
                                    <input type="hidden" name="userId" th:value="${articleDto.getUserId()}">
                                    <button class="link-delete-article" type="submit">삭제</button>
                                </form>
                            </li>
                            <li>
                                <a class="link-modify-article" href="/">목록</a>
                            </li>
                        </ul>
                    </div>
                </article>

                <div class="qna-comment">
                    <div class="qna-comment-slipp">
                        <p class="qna-comment-count">
                            <strong class="qna-comment-st1"></strong><strong class="qna-comment-st2"></strong></p>
                        <div class="qna-comment-slipp-articles">
                            <article th:if="${replyDtoList} != null" th:each="replyDto : ${replyDtoList}"
                                     class="article" id="answer-1405">
                                <div class="article-header">
                                    <div class="article-header-thumb">
                                        <img src="https://graph.facebook.com/v2.3/1324855987/picture"
                                             class="article-author-thumb" alt="">
                                    </div>
                                    <div class="article-header-text">
                                        <a th:id="userId" th:name="userId" th:text="${replyDto.getUserId()}"
                                           th:href="@{../users/{userId}(userId=${replyDto.getUserId()})}"
                                           class="article-author-name"></a>
                                        <a th:text="${replyDto.getTime()}" href="#" class="article-header-time"
                                           title="퍼머링크"></a>
                                    </div>
                                </div>
                                <div class="article-doc comment-doc">
                                    <p th:text="${replyDto.getContents()}"></p>
                                </div>
                                <div class="article-util">
                                    <ul class="article-util-list">
                                        <li>
                                            <a class="link-modify-article"
                                               th:href="@{reply/{replyId}/update(replyId=${replyDto.getReplyId()})}">수정</a>
                                        </li>
                                        <li>
                                            <form class="delete-answer-form" name="delete-reply"
                                                  action="/article/{articleId}/reply/{replyId}/delete" method="POST">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="replyId" value="">
                                                <input type="hidden" name="articleId">
                                                <input type="hidden" name="userId" value="">
                                                <button type="submit" class="delete-answer-button-submit">삭제</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </article>
                            <form name="replySubmit" method="POST" class="submit-write" action="/article/${articleId}/reply/creat">
                                <div class="form-group" style="padding:14px;">
                                    <label>
                                        <input th:value="${articleDto.getUserId()}" type="hidden" name="userId">
                                        <input th:value="${articleDto.getArticleId()}" type="hidden" name="articleId">
                                    </label>
                                    <textarea class="form-control" name="contents"
                                              placeholder="Update your status"></textarea>
                                </div>
                                <button class="btn btn-success pull-right" type="submit">답변하기</button>
                                <div class="clearfix"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/template" id="answerTemplate">
    <article class="article">
        <div class="article-header">
            <div class="article-header-thumb">
                <img src="https://graph.facebook.com/v2.3/1324855987/picture" class="article-author-thumb" alt="">
            </div>
            <div class="article-header-text">
                <a href="#" class="article-author-name">{0}</a>
                <div class="article-header-time" >{1}</div>
            </div>
        </div>
        <div class="article-doc comment-doc">{2}</div>
        <div class="article-util">
            <ul class="article-util-list">
                <li>
                    <a class="link-modify-article" href="/article/reply/{3}/update">수정</a>
                </li>
                <li>
                    <form class="delete-answer-form" name="delete-reply" action="/article/{4}/reply/{3}/delete" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="delete-answer-button">삭제</button>
                    </form>
                </li>
            </ul>
        </div>
    </article>
</script>
<footer th:replace="summery/footer :: footer"></footer>
</body>
</html>
