{{>user/header}}
    <link href="/css/user/form.css" rel="stylesheet">
    <div class="container" id="main">
        <header class="post-header">
            <p class="title">회원수정</p>
        </header>
        <form name="question" class="info-container" method="post" action="/user/updateUser">
            <input type="hidden" name="_method" value="PUT"/>
            <div class="form-group">
                <label for="email">이메일</label>
                <input type="email" class="form-control" id="email" name="email" value={{email}} readonly>
            </div>
            <div class="form-group">
                <label for="nickName">닉네임</label>
                <input class="form-control" id="nickName" name="nickName" placeholder="닉네입을 입력하세요">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요">
            </div>
            <button type="submit" class="btn btn-success clearfix pull-right">수정</button>
        </form>
    </div>
</div>
</body>
</html>
