<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<!--<head>-->
<head th:replace="fragment/header :: head"></head>

<body>

<nav th:replace="fragment/nav :: navbar"></nav>

<div th:replace="fragment/nav :: subnav"></div>


<div class="container" id="main">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default content-main">
            <form name="question" th:method="post" th:action="@{/users/{userId}/updateUser(userId=${findUser.userId})}" th:object="${findUser}">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <label for="userId">사용자 아이디</label>
                    <input class="form-control" id="userId" name="userId" th:placeholder="${findUser.userId}" th:readonly="edit eq 1 ? 'readonly': true" th:value="${findUser.userId}">
                </div>
                <div class="form-group">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input class="form-control" id="name" name="name" th:placeholder="${findUser.name}" th:value="${findUser.name}">
                </div>
                <div class="form-group">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" name="email" th:placeholder="${findUser.email}" th:value="${findUser.email}">
                </div>
                <button type="submit" class="btn btn-success clearfix pull-right"><a th:href="@{/users/{userId}/updateUser/(userId=${findUser.userId})}"></a>정보 수정</button>
                <div class="clearfix"/>
            </form>
        </div>
    </div>
</div>

<!-- script references -->
<div th:replace="fragment/footer :: footer"></div>

</body>
</html>