<!DOCTYPE html>
<html lang="kr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/css/error.css" rel="stylesheet">
</head>
<body>
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-home"></i><span>404</span></div>
                <span class="inner-status">헉! 길을 잃었습니다</span>
                <span class="inner-detail">
                    요청하신 해당 페이지를 찾을 수 없습니다.
                    <a href="/" class="btn btn-info mtl"><i class="fa fa-home"></i>&nbsp;
                    홈으로
                </a>
                </span>

            </div>
        </div>
    </div>
</div>
</body>
</html>
