{{>layout/header}}
{{>layout/nav}}

<div class="container" id="main">
  <div class="col-md-12 col-sm-12 col-lg-12">
    <div class="panel panel-default">
      <header class="qna-header">
        <h2 class="qna-title">로그인 시간 초과(자동 로그아웃) -> 다시 접속하세요!!</h2>
      </header>
      <div class="content-main">
        <article class="article">
          <img src="https://media2.giphy.com/media/3o6Zt6ML6BklcajjsA/giphy.gif?cid=ecf05e47j9vxmx9aad309r8dtazfz9mmy3xg5y1a51hht5kt&rid=giphy.gif&ct=g" alt="에러 냥이">
        </article>
      </div>
    </div>
  </div>
</div>

{{>layout/footer}}
