{{>layout/header}}
{{>layout/navigation}}
{{>layout/top}}


<div class="container" id="main">
    {{#modified}}
    <div class="col-md-12 col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="panel panel-default content-main">
            <form name="form" method="post" action="/articles/{{id}}">
                <input type="hidden" name="_method" value="PUT" />
                <div class="form-group">
                    {{#sessionedUser}}
                    <label for="authorId"></label>
                    <input class="form-control" id="authorId" name="authorId" placeholder="글쓴이" type="hidden" value="{{sessionedUser.userId}}"/>
                    {{/sessionedUser}}
                </div>
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="제목" value="{{title}}"/>
                </div>
                <div class="form-group">
                    <label for="contents">내용</label>
                    <textarea name="contents" id="contents" rows="5" class="form-control">{{contents}}</textarea>
                </div>
                {{/modified}}
                <button type="submit" class="btn btn-success clearfix pull-right">수정</button>
                <div class="clearfix" />
            </form>
        </div>
    </div>
</div>

{{>layout/footer}}

